#image-container {
    position: absolute;
    height: 100%;
    width: 100%;
}

#image-list {
    list-style-type: none;
    position: absolute;
    width: 20%;
    top: 50%;
    transform: translateY(-50%);
}

#first {
    position: absolute;
    width: 40%;
    margin-left: 20%;
    top: 50%;
    transform: translateY(-50%);
}

#second {
    position: absolute;
    width: 40%;
    margin-left: 60%;
    top: 50%;
    transform: translateY(-50%);
}