body {
    margin: 0;
    padding: 0;
    background-color: #666666;
}

#controls-container {
    position: absolute;
    width: 90%;
    height: 10%;
    box-sizing: border-box;
    border: solid;
    border-right: none;
    border-left:none;
    border-size: 1px;
    border-color: white;
}

#completion-container {
    position: absolute;
    margin-left: 90%;
    width: 10%;
    height: 10%;
    display: flex;
    align-items: center;
    box-sizing: border-box;
    border: solid;
    border-size: 1px;
    border-color: white;
    border-right: none;
}

#completion {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    color: red;
    font-size: 3vw;
}

#image-container {
    position: absolute;
    top: 10%;
    height: 90%;
    width: 100%;
}

#first {
    position: absolute;
    width: 45%;
    margin-left: 2.5%;
    top: 50%;
    transform: translateY(-50%);
    border-style: solid;
    border-width: 2.5%;
    border-color: white;
}

#second {
    position: absolute;
    width: 45%;
    margin-left: 52.5%;
    top: 50%;
    transform: translateY(-50%);
    border-style: solid;
    border-width: 2.5%;
    border-color: white;
}